<p-table [value]="competitions" 
        [paginator]="true" 
        [rows]="5" 
        [rowsPerPageOptions]="[5,10,15]"
        [totalRecords]="totalRecords" 
        [pageLinks]="3"
        styleClass="p-datatable-gridlines" 
        responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        Competition List
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>Emblem</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-competition>
        <tr>
            <td>{{competition.name}}</td>
            <td>
                <cite>
                    {{competition.type}}
                </cite>
            </td>
            <td>{{competition.lastUpdated | date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>
                <img [src]="competition.emblem" [alt]="competition.emblem" width="50" />
            </td>
            <td>
                <button pButton pRipple icon="pi pi-th-large" class="p-button-rounded p-button-primary mr-2" pTooltip="Competition Detail" tooltipPosition="bottom" (click)="competitionDetail(competition)"></button>
            </tr>
    </ng-template>
</p-table>